<!DOCTYPE html>
<html lang="en">

<head>
    <title>create new to-to task</title>
    <link rel="shortcut icon" href="favicon.ico"/>
</head>

<body style="text-align: left">
   


   <form action="/tasks" method="post">
        <label for="name">name</label><br>
        <input type="text" id="name" name="name" ><br>
        <label for="description">description</label><br>
        <input type="text" id="description" name="description" ><br><br>
        <input type="submit" value="ADD NEW TODO">
    </form>

</body>

</html>
