<!DOCTYPE html>
<html lang="en">
<head>
    <title>To Do Tasks</title>
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body style="text-align: center">
    <img src="sg.png" alt="Spider-Gazelle" />
    <br />
    <%= tasks_title %>
</body>
</html>
